@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

/* *{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
} */

:root{
    --black: #171718;
    --black-border: #26292D;
    --white: #FFF;
    --purple: #5C62EC;

    --black-text: var(--black);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);

    /* Light mode */
    --page-bg: var(--white);
    --black-text: var(--black);

    --title-1: var(--accent);

    --project-card-bg: var(--white);
    --project-card-text: var(--black);

    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);

}

.dark{
    /* Dark mode */
    --page-bg: #252526;
    --black-text: var(--white);

    --title-1: var(--white);

    --project-card-bg: var(--black);
    --project-car-text: var(--white);

    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);

}

html, body{
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;

    color: var(--black-text);
    
    
    background-color: var(--page-bg);
    color: var(--black-text);
}



.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

/* Nav */

.nav{
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-text);
    letter-spacing: normal;
}

.nav-row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo{
    margin-right: auto;
    color: var(--header-text);
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.logo strong{
    font-weight: 700;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.nav-list__link {
    color: var(--header-text);

    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover{
    opacity: 0.8;
}


.nav-list__link--active{
    position: relative;
}
.nav-list__link--active::after{
    content: '';

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

/* Dark mode button */

.dark-mode-btn {
    display: flex;
    justify-content: space-between;
    width: 51px;
    height: 26px;
    border-radius: 50px;
    background-color: #272727;
    padding: 5px;
    position: relative;
    order: 1;
}
.dark-mode-btn::before{
    content: '';

    position: absolute;
    top: 1px;
    left: 1px;

    display: block;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: var(--white);

    transition: left 0.2s ease-in;
}
.dark-mode-btn--active::before{
    left: 26px;
}

.dark-mode-btn__icon {
    position: relative;
    z-index: 9;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 695px;
    padding: 40px 0;

    background-color: var(--dark-bg);
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    
    color: var(--header-text);
    text-align: center;
}

.header__wrapper {
    padding: 0 15px;
    max-width: 660px;
}

.header-title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header-title strong{
    font-size: 60px;
    font-weight: 700;
}

.header-title em{
    font-style: normal;
    color: var(--accent);
}

.header__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.33;
}

.header-text p + p{
    margin-top: 0.5em;
}

/* Button */

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;

    border-radius: 5px;
    background-color: var(--accent);

    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;
    
    transition: transform 0.3s ease-out, opacity 0.2s ease-in;

}

.btn:active{
    opacity: 0.8;
}
.btn:hover{
    transform: translateY(5px);
}

/* General */
.section {
    padding: 70px 0;
    background-color: var(--page-bg);
}

.title-1 {
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1    );
    text-align: center;

}

/* Projects */

.projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}

.project {
    max-width: 370px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);

    
}

.project__image {
    border-radius: 10px;
}

.project-title {
    padding: 15px 73px 25px 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;

    color: var(--black-text);
}

/* Project Details */

.project-details {
    margin: 0 auto;
    max-width: 865px;

    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;
}


.project-details__cover {
    max-width: 100%;
    margin-bottom: 40px;
    filter: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.project-details-desc {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 30px;

}

.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;

    height: 48px;
    border-radius: 5px;
    padding: 12px 20px;

    border: 1px solid #000;
    
    color: #000;
    background-color: var(--white);

    transition: opacity 0.2s ease-in, transform 0.4s ease-in;
}

.btn-outline:active{
    opacity: 0.8;
}
.btn-outline:hover{
    transform: translateY(5px);
}

/* Content-list */

.title-2 {
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 700;
}

.content-list {
    margin: 0 auto;
    max-width: 570px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 40px;
}

.content-list-item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list-item p + p{
    margin-top: 0.5em;
}


/* Footer */

.footer {
    padding: 60px 0 50px;
    background-color: var(--dark-bg);
    color: var(--header-text);
    margin-top: auto;
}

.footer__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;
}

.copyright p+p{
    margin-top: 0.5em;
}

@media (max-width: 620px){

    /* Nav */
    .nav-row{
        justify-content: space-between;
    }

    /* Dark mode button */

    .dark-mode-btn{
        order: 0;
    }

    /* Header */
    .header{
        min-height: unset;
    }

    .header-title{
        font-size: 30px;
    }
    .header-title strong{
        font-size: 40px;
    }

    /* Projects */

    .section{
        padding: 40px 0;
    }
    .title-1{
        font-size: 40px;
        margin-bottom: 30px;
    }

    /* Project page */

    .project-title{
        font-size: 22px;
    }
    .project-details-desc{
        font-size: 22px;
        margin-bottom: 20px;
    }

    /* Content list */

    .content-list{
        row-gap: 20px;
    }

    .title-2{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .content-list-item{
        font-size: 16px;
    }

    /* Footer */

    .footer-wrapper{
        row-gap: 30px;
    }
    .footer{
        padding: 40px 0 30;
    }
    .social{
        column-gap: 20px;
    }
    .social-item{
        width: 28px;
    }
}